.basket-items {
  list-style: none;
  margin: 1rem;
  padding: 0;
  max-height: 30rem;
  overflow: scroll;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin: 1rem;
}

.actions {
  text-align: right;
}

.actions button {
  cursor: pointer;
  background-color: var(--button-color);
  border: var(--button-border);
  padding: 0.5rem 2rem;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: var(--mydarkblue);
  border-color: var(--mydarkblue);
  color: white;
}

.actions .button--alt {
  color: white;
}

.actions .button {
  background-color: var(--button-color);
  color: white;
}
