.basket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-bottom);
  padding: 1rem 0;
  margin: 1rem 0;
}

.basket-item h2 {
  margin: 0 0 1rem 0;
  color: var(--myblack);
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: var(--myorange);
}

.amount {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  color: #363636;
}

.actions {
  display: flex;
  flex-direction: column;
}

.basket-item button {
  font-weight: bold;
  font-size: 1.25rem;
  color: #8a2b06;
  border: var(--border);
  width: 3rem;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.basket-item button:hover,
.basket-item button:active {
  background-color: var(--button-color);
  color: white;
}
