.button {
  cursor: pointer;
  border: none;
  background-color: var(--button-color);
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: var(--mydarkblue);
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: var(--myblack);
  padding: 0.25rem 1rem;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: var(--mygrey);
}
