* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: var(--background-color-light);
}

.container {
  display: flex;
}

.filter {
  margin: 4rem 2rem 2rem 2rem;
  position: fixed;
  top: 20;
  right: 0;
}

.image {
  margin: 4rem 1rem;
}
