.form {
  text-align: center;
  font-weight: bold;
}

.form input {
  width: 2rem;
  margin: 1rem;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: var(--button-color);
  border: var(--button-border);
  color: white;
  margin: 1rem;
  padding: 0.5rem 2rem;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: var(--mydarkblue);
  border-color: var(--mydarkblue);
}
