.product {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.product h3 {
  margin: 0 0 0.25rem 0;
  margin-top: 2rem;
}

.description {
  font-style: italic;
  margin-top: 2rem;
}

.price {
  margin-top: 2rem;
  font-weight: bold;
  color: var(--myorange);
  font-size: 1.5rem;
}
