:root {
  --myorange: #e64a19;
  --mylazac: #ffccbc;
  --myblack: #212121;
  --myblue: #448aff;
  --mydarkblue: #186af8;
  --mygrey: #bdbdbd;

  --background-color: var(--myorange);
  --background-color-light: var(--mygrey);
  --text-color: var(--myblack);
  --button-color: var(--myblue);
  --basket-color: var(--mylazac);
  --itemlist-background: var(--mylazac);
  --box-shadow: 2px 2px 10px var(--myblack);
  --button-border: 1px solid var(--myblue);
  --border-bottom: 2px solid var(--myorange);
  --border: 1px solid var(--myorange);
  --bakckdrop-background: rgba(0, 0, 0, 0.75);
}
